.sign-in {
  width: 540px;
  display: flex;
  flex-direction: column;
  padding-left: 80px;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
