.sign-in {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  .title {
    margin: 10px 0;
  }
  .input-container {
    position: relative;
  }
  .eye-icon-container {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .login-with-google {
    cursor: pointer;
    position: relative;
  }
  .google-icon-container {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0;
  }

  .google-button {
    position: relative;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
