.sign-up {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 50px;

  .input-container {
    position: relative;
  }

  .eye-icon-container {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .title {
    margin: 10px 0;
  }
}
