body {
  font-family: "Comfortaa", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Merienda One", cursive;
  font-family: "Varela Round", sans-serif;
  padding: 20px 80px;
}

a {
  text-decoration: none;
  color: black;
}
